
// Utilities
@import '../../assets/shared/shared-web-styles/fonts';
@import '../../assets/shared/shared-web-styles/variables';
@import '../../assets/shared/shared-web-styles/mixins';
@import '../../assets/shared/shared-web-styles/base';
@import '../../assets/shared/shared-web-styles/typography';

// Components
@import '../../assets/shared/shared-web-styles/buttons';
@import '../../assets/shared/shared-web-styles/forms';

// Layout
@import '../../assets/shared/shared-web-styles/header';
@import '../../assets/shared/shared-web-styles/footer';
@import '../../assets/shared/shared-web-styles/layout';
@import '../../assets/shared/shared-web-styles/grid';

// Custom
@import 'print-only';
@import 'navigation';
@import 'footer';
@import 'overrides';
@import 'table-of-contents';
@import 'templates';


$link-color: #00caa3;
$text-grey-dk: #5c5962;

$s-width-sm: 20rem;
$s-width-lg: 30rem;



html, body { height: 100%; }

.header__nav a.active, .footer__nav a.active {
  color: $color-primary;
  border-bottom: 2px solid $color-primary;
}

figcaption {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
  font-style: italic;
  font-size: small;
  font-weight: 900;
}

#markdown-toc {
  margin-bottom: 3rem;
}

.small {
  font-size: .8rem;
}

table.key-concept {
  background: $color-cyber-grape;
  border-radius: 0.75rem;

  td, tr, th {
    font-size: 1rem;
    border: 0;
    padding: 0 2rem;
    margin: 0;
    background: transparent;
    color: white;
  }

  thead {
    padding: 2rem 0 0;

    tr {
      font-size: 1.2rem;
    }
  }

  tbody{
    padding: 2rem 0;
  }

  thead, tbody {
    /* box-sizing: content-box; */
    display: grid;
  }
}
