
.side-bar {
  padding-top: 0;
  background: none;
  flex-grow: 1;
  border-right: none;
  align-items: flex-end;
  min-width: 300px;
  width: calc((100% - 1300px) / 2 + 348px);

  @include mq(tablet, 'max-width') {
    padding: 2rem;
    width: 100%;
    background: $color-platinum;
  }

  @media (min-width: 46.25rem) {
    height: auto;
    flex-direction: inherit;
    border: 0;
    position: relative;
  }

  @include mq(tablet, 'min-width') {
    top: 1rem;
    float: left;
    position: sticky;
    flex-direction: column;
  }


}

.custom-main-nav {
  max-width: 350px;
  width: 100%;
}

.custom-site-title img {
  max-width: 28rem;
  width: 100%;
  float: right;
}

.custom-main-nav {
  @include mq(tablet, 'min-width') {
    padding-left: 1.2rem;
  }
  padding: 0;
}

.navigation-list-item {

  h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  a {
    color: $text-color-main;
    font-size: 14px;
    line-height: 1.5;

    @include mq(tablet, 'min-width') {
      font-size: 1rem;
    }

    @include mq(large, 'min-width') {
      font-size: 1.2rem;
    }
  }
}

.navigation-list-child-list .navigation-list-link.active {
  color: $color-primary;
}

.navigation-list-child-list .navigation-list-link {
  color: $text-color-main;
}

.navigation-list-child-list .navigation-list-item::before {
  content: "";
}

.breadcrumb-nav-list-item {
  font-size: 12px;
  line-height: 26px;
  font-weight: bold;
}

.breadcrumb-nav-list-item a {
  color: $color-primary;
}

// Search
.search {
  border: 2px $color-primary solid;
  padding: 0;
}

.search,
.search-input-wrap,
.search-input {
  border-radius: 40px;
}

.search-input {
  height: 50px;
}

.search-icon {
  fill: $color-primary;
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.search-input-wrap {
  padding-left: 10px;
  @include mq(1170px) {
    top: -7px;
    color:red !important;
  }
}
