
.side-bar {
  padding-top: 0;
  background: none;
  flex-grow: 1;
  border-right: none;
  align-items: flex-end;

  // @media (max-width: 1210px) {
  //   position: initial;
  //   width: 100%;
  //   border: 0;
  // }

}

.custom-main-nav {
  max-width: 28rem;
  width: 100%;
}

.custom-site-title img {
  max-width: 28rem;
  width: 100%;
  float: right;
}

.custom-main-nav {
  @media (min-width: 46.25rem) {
    padding: 1.2rem;
  }
  padding: 3rem;
}

.navigation-list-item a {
  color: $text-color-main;
  font-size: 17px;
  line-height: 26px;
}
.navigation-list-child-list .navigation-list-link.active {
  color: $color-f;
}

.navigation-list-child-list .navigation-list-link {
  color: $text-color-main;
}

.navigation-list-child-list .navigation-list-item::before {
  content: "";
}

// NC SVG Logo
.header__logo img {
  width: 370px;
}

.breadcrumb-nav-list-item {
  font-size: 12px;
  line-height: 26px;
  font-weight: bold;
  @media (max-width: 52rem) {
    display: block;
  }
}

.breadcrumb-nav-list-item a {
  color: $color-f;
}

// Search
.search {
  border: 2px $color-f solid;
  padding: 0;
}

.search,
.search-input-wrap,
.search-input {
  border-radius: 40px;
}

.search-input {
  height: 50px;
}

.search-icon {
  fill: $color-f;
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.search-input-wrap {
  padding-left: 10px;
  @include mq(1170px) {
    top: -7px;
    color:red !important;
  }
}

.search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  white-space:pre-line;
  position:relative;
  top: 0;
  left: -20px;
  text-align: center;
  @include mq(desktop-narrow, 'min-width') {
    top: -10px;
  }
  @include mq(desktop-narrow, 'min-width') {
    top: 0;
  }

}
.search-input::-moz-placeholder { /* Firefox 19+ */
  white-space:pre-line;
  position:relative;
  @include mq(1150px) {
    top: 0;
  }

}
.search-input:-ms-input-placeholder { /* IE 10+ */
  white-space:pre-line;
  position:relative;
  @include mq(1150px) {
    top: 0;
  }
}
.search-input:-moz-placeholder { /* Firefox 18- */
  white-space:pre-line;
  position:relative;
  @include mq(1150px) {
    top: 0;
  }
}
