// Overriding what's in the just-the-docs theme styles

a {
  background-image: none !important;
}

.page-header .main-content {
  border-bottom: none;
}

.main-content {
  padding-left: 40px;
}

@include mq(desktop-narrow, 'max-width') {
  .header__container {
    justify-content: inherit;
    flex-direction: row-reverse;
    height: 110px;
  }
}

.search, .search-results-wrap, .search-results-wrap.active, .js-search-results {
  display: block;
}