@media print {
  .print-hidden {
    display: none;
  }
  .print-only {
    display: block;
  }

  // don't display the menu and nav on print
  .side-bar, .breadcrumb-nav-list-item {
    display: none;
  }

}