@media print {
  .print-hidden {
    display: none;
  }
  .print-only {
    display: block;
  }

  // don't display the menu and nav on print
  .side-bar, .breadcrumb-nav-list-item, footer, header {
    display: none;
  }

  body {
    color: black;
  }

  table {
    page-break-inside: avoid;
    break-inside: avoid;
  }

}
