// Section TOCs
.page-content ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
.page-content ol li {
  counter-increment: my-awesome-counter;
}
.page-content ol li::before {
  content: counter(my-awesome-counter) ".";
  font-weight: bold;
  color: $color-f
}

.toc a, .page-content .toc {
  color: $text-color-main;
  text-decoration: none;
}

.page-content h3.toc {
  font-family: "Quicksand-Bold", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
