// Page TOC
.page-content {
  .inline_toc {
    margin-left: 0;
    margin-bottom: 4rem;
  }
}


// Section TOCs
.page-content ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  margin-left: 2rem;
}
.page-content > ol > li {
  counter-increment: my-awesome-counter;
}
.page-content ol li::before {
  content: counter(my-awesome-counter) ".";
  font-weight: bold;
  color: $color-primary
}

.toc a, .page-content .toc {
  color: $text-color-main;
  text-decoration: none;
}

.page-content h3.toc {
  font-family: "Quicksand-Bold", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
