.tip-box {
  padding: 15px;
  background-color: $color-d;
  border-radius: 20px;
  color: white;
  margin: 15px 0;
  height: 100px;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.tip-box::after {
  content: '';
  width: 100%;
}

.tip-box .tip-img-wrapper {
  height: 60px;
  width: 60px;
  margin: 0 1.25rem 0 1rem;
}

.tip-box p.tip-title {
  padding: 0;
  font-weight: 700;
}

.tip-box p.tip-content {
  padding: 0;
  order: 1;
}

.tip-info {
  border-left: 10px $color-f solid;
}

.tip-caution {
  border-left: 10px $color-c solid;
}

.code-block {
  padding: 15px 30px;
  background-color: $color-d;
  border-radius: 20px;
  margin: 1rem 0;
  border-left: 10px #00b4e5 solid;
}