.tip-box {
  padding: 15px 30px;
  background-color: $color-d;
  border-radius: 20px;
  color: white;
  margin: 15px 0;
}

.tip-info {
  border-left: 10px $color-f solid;
}

.tip-caution {
  border-left: 10px $color-c solid;
}

.tip-code {
  border-left: 10px #00b4e5 solid;
}