.tip-box {
  padding: 2rem;
  background-color: $color-cyber-grape;
  border-radius: 1rem;
  color: white;;
  min-height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem 0;

  a {
    color: $color-neon-coral;
  }
}

.tip-box .tip-img-wrapper {
  width: 15%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;

  img {
    max-width: 90px;
  }

  @include mq(tablet, 'max-width') {
    display: none;
  }
}

.tip-box .tip-content-wrapper {
  width: 85%;

  @include mq(tablet, 'max-width') {
    width: 100%;
  }
}

.tip-box p.tip-title {
  padding: 0;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.tip-box p.tip-content {
  padding: 0;
  order: 1;
  margin-bottom: 0;
  font-size: 1rem;
}

.tip-info {
  border-left: 10px $color-primary solid;
}

.tip-caution {
  border-left: 10px $color-mustard solid;
}

.code-block {
  padding: 15px 30px;
  background-color: #f6f7f9;
  border-radius: 20px;
  margin: 1rem 0;
  border-left: 10px #00b4e5 solid;
}
