<footer class="footer">
    <div class="container">
        <div class="footer__content-wrap">
            <div class="footer__logo">
                {% include nc-image src="./assets/img/logo-white-text.svg" alt="Network Canvas Beta" %}
            </div>

            <div class="footer__nav">
                <nav>
                    <ul>
                        {% include navigation.html %}
                    </ul>
                </nav>
            </div>
            <div class="footer__privacy-block">
                <ul>
                    <li><a href="">Terms of Use</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li>Copyright Complex Data Collective 2019</li>
                </ul>
            </div>
        </div>
    </div>

</footer>
