<!DOCTYPE html>

<html lang="en-us">
<!-- Provided by just the docs -->
{% include head.html %}
<body>

<div class="page-wrap">

    <div class="main-content-wrap js-main-content" tabindex="0">
        <header class="header">
            <div class="header__container">

                <div class="header__logo">
                </div>

                <div class="header__menu-trigger" aria-label="Opens nav menu" aria-expanded="false" aria-controls="nav" tabindex="0">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <div class="header__nav">
                    <nav>
                        <ul class="js-aux-nav">
                            <li><a href="/">Home</a></li>
                            <li><a class="active" href="">Documentation</a></li>
                            <li><a href="">Contact</a></li>
                            <li><a href="http://feedback.networkcanvas.com">Feedback</a></li>
                            <li><a href="">Project Team</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
        </header>
        <div class="side-bar">
            <span class="js-main-nav-trigger"></span>
            <a href="{{ site.url }}{{ site.baseurl }}" class="custom-site-title fs-6 lh-tight">{% include nc-image src="./assets/img/logo.svg" alt="Network Canvas Beta" %}</a>
            <div class="custom-main-nav js-main-nav">
                {% include nav.html %}
            </div>
        </div>
        <div class="main-content">
            {% unless page.url == "/" %}
            {% if page.parent %}
            <nav class="breadcrumb-nav">
                <ol class="breadcrumb-nav-list">
                    {% if page.grand_parent %}
                    <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.grand_parent }}</a></li>
                    <li class="breadcrumb-nav-list-item"><a href="{{ second_level_url }}">{{ page.parent }}</a></li>
                    {% else %}
                    <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.parent }}</a></li>
                    {% endif %}
                    <li class="breadcrumb-nav-list-item"><span>{{ page.title }}</span></li>
                </ol>
            </nav>
            {% endif %}
            {% endunless %}
            <div id="main-content" class="page-content" role="main">
                <h1 class="no_toc">{{page.title}}</h1>
                {% if page.last_modified_at %}
                Last Updated: {{ page.last_modified_at | date: '%B %d, %Y' }}
                {% endif %}

                {% if page.has_children == true and page.has_toc != false %}
                <hr>
                <h2 class="no_toc text-delta" id="table-of-contents">Table of contents</h2>
                {% assign children_list = site.pages | sort:"nav_order" %}
                <ol type="1" class="toc">
                    {% for child in children_list %}
                    {% if child.parent == page.title and child.title != page.title %}
                    <li>
                        <a href="{{ child.url | absolute_url }}">{{ child.title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ol>
                {% else %}
                <h2 class="no_toc text-delta" id="table-of-contents">Table of contents</h2>
                {% include toc.html html=content sanitize=true ordered=true %}
                {% endif %}
                {{content}}
            </div>

        </div>
        {% include footer.html %}
    </div>
</div>

<script type="text/javascript" src="/assets/js/custom.js"></script>

</body>
</html>
